/*
Theme Name: crowdpress
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See: https://codex.wordpress.org/Right_to_Left_Language_Support
*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

.site-vote small {
	right:auto;
	left: -1px;
}

html {
  direction: rtl;
}
body {
  direction: rtl;
}
.flip.text-left {
  text-align: right;
}
.flip.text-right {
  text-align: left;
}
.list-unstyled {
  padding-right: 0;
  padding-left: initial;
}
.list-inline {
  padding-right: 0;
  padding-left: initial;
  margin-right: -5px;
  margin-left: 0;
}
dd {
  margin-right: 0;
  margin-left: initial;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0;
  }
}
.text-right{
	text-align: left!important;
}
.projects-content .blog-meta a{
	margin-left: 20px;
	margin-right: 0;
	float: right;
}
.projects-content .blog-meta a:last-child{
	float: left;
	margin-left: 0;
}
.blog-meta .svg-inline--fa{
	margin-right: 0;
	margin-left: 7px;
}
.listicon-content p span{
	float: right;
	margin-right: 0;
	margin-left: 30px;
}
.testimonials-content .testi-name img{
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.testi-name h5 .svg-inline--fa{
	float: left;
}
.blog-list-widget .justify-content-between img{
	float: right;
	margin-right: 0!important;
	margin-left: 20px;
}
.posts-content .blog-meta a{
	margin-right: 0;
	margin-left: 15px;
	float: right;
}
.top-search-form{
	float: left;
	margin-left: 0;
	margin-right: 60px;
}
.profile-menu li{
	margin-right: 0;
	margin-left: 60px;
}
.profile-menu li a i{
	margin-left: 5px;
	margin-right: 0;
}
.footer .footer-widget-area .blog-list-widget .mb-1:focus{
	outline: none;
}
.footer-menu li{
	margin-right: 0;
	margin-left: 15px;
}
.footer-menu li a{
	border-left: none;
	border-right: 2px solid #677173;
	padding: 0 15px 0 0;
}
.footer-menu li:last-child{
	margin-left: 0;
}
.footer-widget-area ul li a:before {
	left: auto;
	right: 0;
}
.footer-widget-area ul li a{
	padding: 0 18px 18px 0;
}
.footer-widget-area ul li a:hover,
.footer-widget-area ul li a:focus{
	padding-left: 0;
	padding-right: 22px;
}
.footer-contact .phone-icon,
.footer-contact .email-icon,
.footer-contact .address-icon{
	padding-left: 0;
	padding-right: 45px;
	background-position: right top;
}
.footer .social a{
	margin-right: 0;
	margin-left: 12px;
}
.page .tnp-form:after{
	right: auto;
	left: 7.5%;
}
.percent-box-content h5 span{
	align-self: flex-end;
}
.percent-box-content h5{
	display: flex;
}
.services-content.style3 h3 span{
	margin-right: 0;
	margin-left: 20px;
}
.widget-title:before {
	left: auto;
	right: 0;
}
.give-single-form-sidebar-left .widget-title{
	padding-left: 0;
	padding-right: 30px;
}
form[id*=give-form] #give-gateway-radio-list>li{
	margin-right: 0;
	margin-left: 15px;
}
.footer-widget-area .widget-title span:before{
	right: auto;
	left: -10px;
}
.variations tr {
	float: right;
}
.woocommerce div.product form.cart div.quantity{
	margin: 0 0 0 10px;
}
.social li{
	margin-right: 0;
	margin-left: 10px;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	float: right;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary{
	float: left;
}
.widget-title span {
	padding-left: 0;
	padding-right: 30px;
}
.sidebar .crowdpress-categories li span{
	right: auto;
	left: 0;
}
.social a {
	margin-right: 0;
	margin-left: 10px;
	margin-bottom: 5px;
}
.post-type-archive-product .sidebar .widget_media_image,
.single-product .sidebar .widget_media_image,
.tax-product_cat .sidebar .widget_media_image{
	padding: 0;
}
.woocommerce .woocommerce-ordering select {
	float: left;
}
.woocommerce .woocommerce-ordering:after {
	right: auto;
	left: 3px;
}
.cbp-l-caption-alignLeft .cbp-l-caption-body > a{
	right: auto;
	left: 0;
}
.portfolio-next-prev img{
	margin-right: 0;
	margin-left: 25px;
}
.portfolio-next-prev .absolute-pager.text-right img{
	margin-left: 0;
	margin-right: 25px;
}
.blog-box .blog-des-top .blog-meta a{
	margin-right: 0;
    padding-right: 0;
	margin-left: 15px;
    padding-left: 15px;
	display: inline-block;
}
.blog-meta a{
	display: inline-block;
}
.blog-box .blog-des-top .blog-meta a:after {
	right: auto;
	left: 0;
	top: 4px;
}
.meta-bottom a img{
	margin-right: 0;
	margin-left: 15px;
}
.read-more-wrapper {
	right: auto;
	left: 40px;
}
.layout-rs .blog-box{
	margin-right: 0;
	margin-left: 20px;
}
.wp-block-quote.has-text-align-right,
.wp-block-quote.has-text-align-right{
	padding-right: 1em;
    padding-left: 0;
}
.wp-block-file * + .wp-block-file__button{
	margin-right: 0;
	margin-left: 0.75em;
}
select{
	background-position: 10%;
}
.wp-block-search .wp-block-search__button{
	margin-left: 10px;
	margin-right: 0;
}
.wp-block-search .wp-block-search__input{
	float: right;
}
.pagination > li{
	float: right;
	text-align: left;
}
.services-content.style4 .default-icon,
.services-content.style4 .hover-icon{
	float: right;
}
.elementor-widget-tabs .elementor-tab-content .ts-list ul li{
	padding-right: 0!important;
}
[dir='rtl'] .slick-slide{
    float: left;
}
.slick-slider .slick-track, .slick-slider .slick-list {
direction: ltr;
}
.footer.footer-style2 .social{
	text-align: left;
}
.footer.footer-style2 .social a{
	margin-left: 0;
	margin-right: 12px;
}
.footer-style2.footer .footer-contact li{
	margin-right: 0;
	margin-left: 50px;
}
.testi-style2 .testi-item{
	padding-left: 0;
	padding-right: 280px;
}
.testimonials-content .testi-style2 .testi-item img{
	right: 0;
	left: auto;
}
.posts-content .posts-style2 .blog-meta a{
	margin-left: 0;
}
.light-header .top-search-form{
	margin: 5px 25px 0 0;
}
.events-loop .buy-tickets-btn{
	float: left;
}
.events-loop .buy-tickets-btn i{
	margin-left: 6px;
	margin-right: 0;
}
.elementor-icon i,
.elementor-icon svg{
	display: inline-block;
}
.absolute-pager{	
    padding: 0 0 0 30px;
}
.absolute-pager.text-right{
	padding: 0 30px 0 0;
}
.blog-meta a{
	margin-right: 0;
	margin-left: 30px;
}
.position-edit-links{
	right: auto;
	left: 0;
}
.comments-list img{
	margin-right: 0;
	margin-left: 30px;
}
.media-heading{
	padding: 0 0 0 130px;
}
.comment-respond .form-group:before{
	left: 35px;
	right: auto;
}
.formate-quote .wp-block-quote{
	text-align: right;
	padding: 45px 150px 45px 45px;
}
.blog-media.formate-quote i{
	left: auto;
	right: 45px;
}
@media (min-width: 992px){
	.navbar ul li .dropdown-menu li {
		text-align: right;
	}
}
