/*
Theme Name: CrowdPress
Description: Used to style the TinyMCE editor.
*/

html {
	font-size: 87.5%;
}

html .mceContentBody {
	max-width: 625px;
}

body {
	line-height: 1.7;
    background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #001d23;
}

a {
	color: #001d23;
}

a:hover,
a:focus {
    color: #009e74;
    outline: none;
}

p {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.7;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 23px
}

h2 {
    font-size: 30px;
	line-height: 1;
    margin-bottom: 30px;
	margin-top: 30px;
}

h3 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 17px
}

h4 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px
}

h5 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 23px
}

h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px
}

h2.h2-huge {
	font-size: 52px;
	line-height: 62px;
	margin-top: 0;
}

h1 {
	font-size: 36px;
	line-height: 1.1; 
	margin-bottom: 10px;
}

.mce-content-body {
	line-height: 1.4;
}

.wp-block-cover-image, .wp-block-cover {
	min-height: 330px;
}

.wp-block-freeform.block-library-rich-text__tinymce h6 {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 12px;
}

.wp-block-freeform.block-library-rich-text__tinymce h5{
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.wp-block-freeform.block-library-rich-text__tinymce h4{
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.wp-block-freeform.block-library-rich-text__tinymce h3{
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 38px;
	margin-top: 20px;
}

.wp-block-freeform.block-library-rich-text__tinymce h2{
	font-size: 44px;
	margin-bottom: 20px;
	line-height: 1.1px;
	margin-top: 20px;
}

.wp-block-freeform.block-library-rich-text__tinymce h1{
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.wp-block-heading h1.editor-rich-text__tinymce,
.wp-block-heading h2.editor-rich-text__tinymce,
.wp-block-heading h3.editor-rich-text__tinymce {
	line-height: 1.1;
}

.editor-post-title__block .editor-post-title__input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2.8125em;
  font-weight: 700;
}

body .wp-block[data-align="full"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
	body .wp-block[data-align="full"] {
	max-width: 100%;
	}
	.editor-block-list__layout .editor-block-list__block[data-align="full"]{
	margin-left: 0;
	margin-right: 0;
	}
	
	.editor-post-title {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.editor-block-list__layout{
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.editor-block-list__layout .editor-block-list__block[data-align="full"] > .editor-block-list__block-edit{
		margin-left: -30px;
		margin-right: -30px;
	}
	
	.editor-block-list__layout .editor-block-list__block {
		padding-left: 30px;
		padding-right: 30px;
	}
	
}

@media only screen and (min-width: 768px) {
  body .editor-writing-flow {
    max-width: 1170px;
    margin: 0;
  }
  body .editor-post-title__block,
  body .editor-default-block-appender,
  body .editor-block-list__block {
    margin-left: 0;
    margin-right: 0;
  }
  body .wp-block[data-align="wide"] {
    width: 100%;
  }
  body .wp-block[data-align="full"] {
    /*position: relative;
    left: calc( -12.5% - 14px);
    width: calc( 125% + 116px);*/
    max-width: 100%;
  }
  body .wp-block[data-align="right"] {
    max-width: 100%;
  }
}

/** === Content Width === */
.wp-block {
  /*width: calc(100vw - (2 * 1rem));*/
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .wp-block {
    width: 100%;
  }
}

@media only screen and (min-width: 1168px) {
  .wp-block {
    width: 100%;
  }
}

.wp-block .wp-block {
  width: 100%;
}

/* =Headings
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

hr {
	margin: 1.65em auto;
	border-top: 1px solid #8f98a1;
}

/* =Text elements
-------------------------------------------------------------- */
p {
	line-height: 1.714285714;
	margin: 0 0 10px;
}

ul,
ol {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
	padding: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce ul,
.wp-block-freeform.block-library-rich-text__tinymce ol {
	padding-left: 40px;
	margin-bottom: 10px;
}

ul {
	list-style: disc outside;
}

ol {
	list-style: decimal outside;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

li {
	margin: 0;
}

dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}

dt {
	font-weight: 700;
	margin: 0;
}

dd {
	margin: 0 0 20px;
}

strong {
	font-weight: 700;
}

cite,
em,
i {
	font-style: italic;
}

cite {
	border: none;
}

big {
	font-size: 128.571429%;
}

.mceContentBody blockquote {
	font-weight: normal;
	margin: 0;
	padding: 24px;
	padding: 1.714285714rem;
}

pre{
	border: 1px solid #d1d1d1;
    font-size: 12px;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 1.75em;
    white-space: pre-wrap;
	background-color: #f5f5f5;
	color: #333;
	border-radius: 4px;
}

.wp-block-freeform.block-library-rich-text__tinymce pre {
	border: 1px solid #d1d1d1;
    font-size: 12px;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 1.75em;
    white-space: pre-wrap;
	background-color: #f5f5f5;
	color: #333;
	border-radius: 4px;
}

samp,
var {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}

kbd{
	padding: 2px 4px;
	font-size: 90%;
	color: #001d23;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

code,
.wp-block-freeform.block-library-rich-text__tinymce code {
	padding: 2px 4px;
	font-size: 90%;
	color: #001d23;
	border-radius: 4px;
}

abbr,
acronym,
dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}

address {
	display: block;
	line-height: 1.42857143;
	margin: 0 0 20px;
	font-style: normal;
}

del {
	color: #333;
}

ins {
	background: none;
	border: none;
	color: #333;
	text-decoration: underline;
}

sup,
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

input[type="text"] {
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
}

textarea {
	border: 1px solid #d5d2ca;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	font-family: inherit;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 96%;
}

/* =Links
-------------------------------------------------------------- */
a,
a em,
a strong {
	color: #001d23;
	outline: none;
	text-decoration: none;
}

a:focus,
a:active,
a:hover {
	color: #001d23;
}

/* =Alignment
-------------------------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}

.alignright {
	display: inline;
	float: right;
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}

.aligncenter {
	clear: both;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* =Tables
-------------------------------------------------------------- */
table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}

tr th {	
	padding: 5px;
	border: 1px solid #ededed;
	color: #27293d;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}

td {
	border-top: 1px solid #ededed !important;
	border: 1px solid #ededed;
	color: #27293d;
	padding: 5px;
	font-weight: normal;
	font-size: 15px;
}

/* =Images
-------------------------------------------------------------- */
img,
.editor-attachment {
	border: 0;
	max-width: 100%;
}

img.size-full {
	width: auto/9; /* Prevent stretching of full-size images in IE8 */
}
img[class*="wp-image-"] {
	height: auto;
	max-width: 100%;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.mce-wp-nextpage {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;	
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
	box-shadow: none;	
}

img.wp-smiley {
	border: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;	
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	background: transparent;
	border: none;
	margin: 0;
	padding: 4px;
	text-align: left;
	max-width: 100%;
}

.wp-caption-dt {
	margin: 0;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.71429rem;
}

/*WP blocks*/
.wp-block-cover h2 strong,
.wp-block-cover .wp-block-cover-text strong {
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .wp-block-cover {
    padding-left: 10%;
    padding-right: 10%;
  }
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    font-size: 2em;
	font-weight: 600;
  }
}

.wp-block[data-type="core/cover"][data-align="left"] .editor-block-list__block-edit,
.wp-block[data-type="core/cover"][data-align="right"] .editor-block-list__block-edit {
  width: calc(4 * (100vw / 12));
}

.wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
.wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  width: 100%;
  max-width: 100%;
  padding: calc(1.375 * 1rem);
}

.wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover p,
.wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover p {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
  .wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
    padding: calc(2.75 * 1rem) calc(2.75 * 1rem) calc(3.125 * 1rem);
  }
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="wide"] h2,
  .wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
  .wp-block[data-type="core/cover"][data-align="full"] h2,
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
    max-width: calc(8 * (100vw / 12));
  }
}

@media only screen and (min-width: 1168px) {
  .wp-block[data-type="core/cover"][data-align="wide"] h2,
  .wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
  .wp-block[data-type="core/cover"][data-align="full"] h2,
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
    max-width: calc(6 * (100vw / 12));
  }
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover {
    padding-left: calc(10% + 64px);
    padding-right: calc(10% + 64px);
  }
}

/** === Gallery === */
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-gallery .gallery-item .gallery-caption {
  font-size: 0.71111em;
  line-height: 1.6;
}
/** === Heading === */
.wp-block-heading strong {
  font-weight: bolder;
}

/** === Paragraph === */
.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  font-size: 3.375em;
  line-height: 1;
  font-weight: bold;
  margin: 0 0.25em 0 0;
}

/** === Cover === */
.wp-block-cover h2,
.wp-block-cover .wp-block-cover-text {
	color: #fff;
	font-size: 2em;
	line-height: 1.25;
	z-index: 1;
	margin-bottom: 0;
	max-width: 610px;
	padding: 14px;
	text-align: center;
	font-weight: 600;
}

.wp-block-cover,
.wp-block-cover-image h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover p{
	color: #fff;
}

.wp-block-cover h2 strong,
.wp-block-cover .wp-block-cover-text strong {
  font-weight: bolder;
}

.wp-block-cover.has-left-content h2,
.wp-block-cover.has-left-content .wp-block-cover-text{
	text-align: left;
}

@media only screen and (min-width: 768px) {
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .wp-block-cover {
    padding-left: 10%;
    padding-right: 10%;
  }
  .wp-block-cover h2,
  .wp-block-cover .wp-block-cover-text {
    font-size: 2em;
	font-weight: 600;
  }
}

.wp-block[data-type="core/cover"][data-align="left"] .editor-block-list__block-edit,
.wp-block[data-type="core/cover"][data-align="right"] .editor-block-list__block-edit {
  width: 100%;
}

.wp-block[data-type="core/cover"][data-align="left"] .editor-block-list__block-edit{
	max-width: 305px;
}

.wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
.wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
  .wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="wide"] h2,
  .wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
  .wp-block[data-type="core/cover"][data-align="full"] h2,
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1168px) {
  .wp-block[data-type="core/cover"][data-align="wide"] h2,
  .wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
  .wp-block[data-type="core/cover"][data-align="full"] h2,
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover {
    padding-left: 0;
    padding-right: 0;
  }
}

/** === Gallery === */
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-gallery .gallery-item .gallery-caption {
  font-size: 0.71111em;
  line-height: 1.6;
}

/** === Button === */
.wp-block-button .wp-block-button__link {
	line-height: 1.7;
	font-size: 18px;
	background: #001d23;
	border: none;
	border-radius: 0;
	padding: 12px 24px;
	border: 1px solid #001d23;
	color: #fff;
}

.wp-block-button.is-style-squared .wp-block-button__link{
	border-radius: 0;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
	background: #001d23;
}

.wp-block-button:not(.is-style-squared) .wp-block-button__link {
  border-radius: 30px;
}

.wp-block-button.is-style-outline,
.wp-block-button.is-style-outline:hover,
.wp-block-button.is-style-outline:focus,
.wp-block-button.is-style-outline:active {
	background: transparent;
	color: #0073aa;
	border: 2px solid currentcolor;
}

.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline:hover .wp-block-button__link, .wp-block-button.is-style-outline:focus .wp-block-button__link, .wp-block-button.is-style-outline:active .wp-block-button__link {
  background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
  color: #0073aa;
}

/** === Blockquote === */
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 2px solid #eee;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin-top: 2.8125em;
  margin-bottom: 2.8125em;
  border-left: 2px solid #eee;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  line-height: 1.4;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote .wp-block-quote__citation {
  font-size: 13px;
  color: #001d23;
}

/** === Pullquote === */
.wp-block-pullquote {
  border-color: #eee;
  border-width: 0;
  color: #001d23;
  padding: 0;
  border-style: solid;
  background: #f7f7f7;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.is-style-solid-color.wp-block-pullquote{
	border: none;
}

.wp-block-pullquote blockquote,
.wp-block-quote {
	font-size:20px;
	line-height: 32px;
	font-weight:normal;	
	margin: 20px 0;
	position:relative;  
	width: 100%;
	color: #001d23;
	word-break: break-word;
	padding: 20px 30px;
	font-style:italic;
	background: #f7f7f7;
	font-family: "Times New Roman", Times, serif;
}

blockquote p{
	font-size: 20px;
}

.wp-block-pullquote blockquote {
	margin: 0;
}

.wp-block-pullquote blockquote p,
.wp-block-pullquote blockquote cite,
.wp-block-pullquote blockquote cite a,
.wp-block-pullquote blockquote a,
.wp-block-quote p,
.wp-block-quote cite a,
.wp-block-quote blockquote a,
.wp-block-quote cite,
.wp-block-pullquote cite,
.wp-block-pullquote cite a,
.wp-block-pullquote p {
	color: #001d23;
}

.wp-block-pullquote:not(.is-style-solid-color) .wp-block-pullquote__citation {
  color: #001d23;
}

.wp-block-pullquote blockquote p{
	font-size: 20px;
	font-style: italic;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  width: calc(100% - (2 * 1rem));
  max-width: calc( 100% - (2 * 1rem));
}

.wp-block-pullquote.is-style-solid-color blockquote a,
.wp-block-pullquote.is-style-solid-color blockquote.has-text-color p,
.wp-block-pullquote.is-style-solid-color blockquote.has-text-color a {
  color: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) {
  color: #001d23;
}

@media only screen and (min-width: 768px) {
  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 80%;
  }
}

.wp-block-pullquote.is-style-solid-color:not(.has-background-color) {
  background-color: #0073aa;
}

.wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] p {
  line-height: 1.4;
  margin-bottom: 0.5em;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
  .wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"] p,
  .wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
  .wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"][data-align="left"] p,
  .wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
  .wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"][data-align="right"] p {
	  font-weight: normal;
  }
}

.wp-block[data-type="core/pullquote"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote__citation {
  font-size: 13px;
  line-height: 1.6;
  text-transform: none;
}

.wp-block[data-type="core/pullquote"] em,
.wp-block[data-type="core/pullquote"][data-align="left"] em,
.wp-block[data-type="core/pullquote"][data-align="right"] em {
  font-style: normal;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit {
  width: 50%;
  max-width: 50%;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color),
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color) {
  padding: 0;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color,
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color {
  padding: 1em;
}

.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote__citation {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote blockquote {
    max-width: 100%;
  }
}

/** === File === */
.wp-block-file {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.wp-block-file .wp-block-file__textlink {
  text-decoration: underline;
  color: #0073aa;
}

.wp-block-file .wp-block-file__textlink:hover {
  color: #005177;
  text-decoration: none;
}

.wp-block-file .wp-block-file__button {
  display: table;
  line-height: 1.8;
  font-size: 0.88889em;
  font-weight: bold;
  background-color: #001d23;
  border-radius: 30px;
  color: #fff;
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: block;
  margin-top: calc(0.75 * 1rem);
  margin-left: 0;
}

/** === Verse === */
.wp-block-verse {
  padding: 0;
}

.wp-block-verse pre {
	padding: 1.75em;
}

/** === Code === */
.wp-block-code {
  border-radius: 0;
}

/** === Table === */
.wp-block-table td, .wp-block-table th {
  border-color: #ededed;
}

/** === Separator === */
.wp-block-separator {
	border-top: 1px solid #999;
}

.wp-block-separator:not(.is-style-dots) {
  border-bottom: none;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 100px;
}

.wp-block-separator.is-style-dots:before {
  color: #001d23;
  font-size: 1.6875em;
  letter-spacing: calc(2 * 1rem);
  padding-left: calc(2 * 1rem);
}

.wp-block-pullquote blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block-pullquote blockquote > .editor-rich-text p{
	font-size: 20px;
}

/** === Latest Posts, Archives, Categories === */
ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  padding: 0;
}

ul.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul {
}

ul.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
  color: #727272;
  font-weight: 300;
  line-height: 24px;
}

ul.wp-block-archives li.menu-item-has-children, ul.wp-block-archives li:last-child,
.wp-block-categories li.menu-item-has-children,
.wp-block-categories li:last-child,
.wp-block-latest-posts li.menu-item-has-children,
.wp-block-latest-posts li:last-child {
  padding-bottom: 0;
}

ul.wp-block-archives li a,
.wp-block-categories li a,
.wp-block-latest-posts li a {
  text-decoration: none;
  color: #727272;
  font-weight: 300;
  line-height: 24px;
}

ul.wp-block-archives li ul,
.wp-block-categories li ul,
.wp-block-latest-posts li ul {
  padding-left: 1rem;
}

.wp-block-categories ul {
  padding-top: 0.75rem;
}

.wp-block-categories ul ul {
  counter-reset: submenu;
}

.wp-block-categories ul ul > li > a::before {
  font-family: "NonBreakingSpaceOverride", "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
  font-weight: normal;
  content: "– " counters(submenu, "– ", none);
  counter-increment: submenu;
}

.wp-block-categories li ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: -0.75rem;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid li {
  margin-bottom: 2rem;
}

.wp-block-latest-posts.is-grid li a:after {
  content: '';
}

.wp-block-latest-posts.is-grid li:last-child {
  margin-bottom: auto;
}

.wp-block-latest-posts.is-grid li:last-child a:after {
  content: '';
}

/** === Latest Comments === */
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-weight: bold;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: normal;
}

.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments .wp-block-latest-comments__comment-date,
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-date {
  font-size: 0.71111em;
}

/** === Classic Editor === */
/* Properly center-align captions in the classic-editor block */
.wp-caption dd {
  color: #121212;
  font-size: 0.71111em;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}

.wp-block-freeform {
  /* Add style for galleries in classic-editor block */
}

.wp-block-freeform blockquote {
	border-left: 2px solid #eee;	 
	font-size:20px;
	line-height: 32px;
	font-weight:normal;	
	margin: 20px 0;
	position:relative;  
	width: 100%;
	color: #727272;
	float: left;
	padding: 10px 20px;
}

.wp-block-freeform blockquote cite,
.wp-block-freeform blockquote p {
  color: #727272;
  margin: 0;
  font-weight: normal;
}

.is-style-solid-color {
}

.wp-block-freeform.block-library-rich-text__tinymce a{
	color: #727272;
	text-decoration: none;
}

/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
	font-family: dashicons !important;
}